<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      
      HEADER
    </div>

    <div *ngIf="!selectedMember" class="w-full mb-12 px-4">


      <div class="grid justify-items-end ...">
        <div class="mb-6 pr-10">
          <a [routerLink]="['/admin/nuevo-miembro']"
          class=" h-10 w-32 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 uppercase rounded">Agregar +</a>
  
        </div>
       
      </div>

      
      

      <div class="bg-white border-t border-l border-r rounded-5 ">

          <div class="flex input-group relative flex flex-wrap items-stretch w-full mb-4 pt-4 px-2">
            <input type="search" [formControl]="inputSearch" class=" form-control inline-block min-w-0 w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Buscar" aria-label="Search" aria-describedby="button-addon2">
            

          </div>

      </div>


        <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-center ">
              <h3
                class="font-semibold text-lg text-zinc-400"
              >
                Miembros de la iglesia
              </h3>
            </div>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <!-- Projects table -->
          <table class="items-center w-full bg-transparent border-collapse">
            <thead>
              <tr>
                <th
                  class="px-4  border border-solid py-3  uppercase border-l-0 border-r-0  font-semibold text-left"
                    
                >
                  ID  
                </th>
                <th
                  class="px-4  border border-solid py-3  uppercase border-l-0 border-r-0  font-semibold text-left"
                
                >
                  Nombres
                </th>
                <th
                  class="px-4  border border-solid py-3  uppercase border-l-0 border-r-0  font-semibold text-left"
                  
                >
                  Apellidos
                </th>
                <th
                  class="px-4  border border-solid py-3  uppercase border-l-0 border-r-0  font-semibold text-left"
                  
                >
                  F. Nacimiento
                </th>
                <th
                  class="px-4  border border-solid py-3  uppercase border-l-0 border-r-0  font-semibold text-left"
                  
                  
                >
                  Direccion
                </th>
                <th
                  class="px-4  border border-solid py-3  uppercase border-l-0 border-r-0  font-semibold text-left"
                  
                  
                >
                Status
                </th>
                <th
                  class="px-4  border border-solid py-3  uppercase border-l-0 border-r-0  font-semibold text-left"
                  
                  
                >
               gg
                </th>
              
              </tr>
            </thead>
            <tbody>
              

                  <tr *ngFor="let member of members | paginate: { itemsPerPage: per_page, currentPage: page,totalItems: total}">
                    <td
                      class="border-t-0 px-4 border-l-0 border-r-0   p-4"
                    >
                    
                      {{member.memberId}}
                    </td>
                    <td
                      class="border-t-0 px-4  border-l-0 border-r-0   p-4"
                    >
                      {{member.name}}

                  </td>
                    <td
                      class="border-t-0 px-4  border-l-0 border-r-0   p-4"
                    >
                      {{member.last_name}}

                    </td>
                    <td
                      class="border-t-0 px-4  border-l-0 border-r-0   p-4"
                    >
                      {{member.born}}

                    </td>
                    <td
                      class="border-t-0 px-4  border-l-0 border-r-0   p-4"
                    >
                     {{member.adress}}


                    </td>
                    <td
                      class="border-t-0 px-4  border-l-0 border-r-0   p-4 "
                    >
                    {{member.status}}

                    </td>
                    <td
                    class="border-t-0 px-4  border-l-0 border-r-0   p-4 "
                    >
                      
                    <button [class.selected]="member === selectedMember" type="button" (click)="onSelect(member)">
                      <span class="badge">Ver </span>
                    </button> |
                    <button [class.selected]="member === selectedMember" type="button" (click)="onDelete(member)">
                      <span class="badge"> Borrar</span>
                    </button>
                   
                    </td>
                  </tr>
            </tbody>
          </table>

          <div class="grid justify-items-center">
            <br><br>
            <div>
              <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

            </div>
           
          </div>


        </div>
        </div>



    </div>

</div>

<div *ngIf="selectedMember">

  
  <div class="flex flex-wrap ">
    
    <div class="w-full lg:w-12/12 px-4 ">
      <app-card-profile [member] = "selectedMember"
    ></app-card-profile>
    </div>
    
    
  </div>

</div>

