<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-blueGray-500 text-sm font-bold">Sign up with</h6>
          </div>
          <div class="btn-wrapper text-center">
            <button
              class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-2 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
              type="button"
            >
              <img alt="..." class="w-5 mr-1" src="assets/img/github.svg" />
              Github
            </button>
            <button
              class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
              type="button"
            >
              <img alt="..." class="w-5 mr-1" src="assets/img/google.svg" />
              Google
            </button>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-blueGray-400 text-center mb-3 font-bold">
            <small>Or sign up with credentials</small>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Errors -->
            <div *ngIf="errors?.username" class="alert alert-danger mt-3">
              {{ errors?.username }}
            </div>
            <div *ngIf="errors?.email" class="alert alert-danger mt-3">
              {{ errors?.email }}
            </div>
            <div *ngIf="errors?.name" class="alert alert-danger mt-3">
              {{ errors?.name }}
            </div>
            <div *ngIf="errors?.password" class="alert alert-danger mt-3">
              {{ errors?.password }}
            </div>
            <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
              {{ errors?.password_confirmation }}
            </div>
            <!-- Signup form -->

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                User Name
              </label>
              <input
                formControlName="username" 
                type="text"
                class="border-0 px-3 py-3 mb-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Nombre de usuario"
              />
              <div *ngIf="f['username'].getError('required')"   class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Aviso: </strong>
                <span class="block sm:inline">Username Requerido!</span>
               
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email
              </label>
              <input
                class="form-control" formControlName="email"
                type="email"
                class="border-0 px-3 py-3 mb-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email"
              />
              <div *ngIf="f['email'].getError('required')"   class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Aviso: </strong>
                <span class="block sm:inline">Email Requerido!</span>
               
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Nombre
              </label>
              <input
                formControlName="name" 
                type="email"
                class="border-0 px-3 py-3 mb-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Name"
              />
              <div *ngIf="f['name'].getError('required')"   class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Aviso: </strong>
                <span class="block sm:inline">Nombre Requerido!</span>
               
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Password
              </label>
              <input
                formControlName="password"
                type="password"
                class="border-0 px-3 py-3 mb-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password"
              />
              <div *ngIf="f['password'].getError('required')"   class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Aviso: </strong>
                <span class="block sm:inline">password Requerido!</span>
               
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
              Confirmacion del Password
              </label>
              <input
                formControlName="password_confirmation"
                type="password"
                class="border-0 px-3 py-3 mb-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Confirmacion de la Clave"
              />
              <div *ngIf="f['password_confirmation'].getError('required')"   class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Aviso: </strong>
                <span class="block sm:inline">Confirmacion Requerida!</span>
               
              </div>
              <div *ngIf="f['password_confirmation'].getError('Mustmatch')"   class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Aviso: </strong>
                <span class="block sm:inline">Confirmacion debe coincidir!</span>
               
              </div>
            </div>

            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-semibold text-blueGray-600">
                  I agree with the
                  <a href="javascript:void(0)" class="text-red-600">
                    Privacy Policy
                  </a>
                </span>
              </label>
            </div>


            <div class="text-center mt-6">
              <button
              [disabled]="!registerForm.valid"
              type="submit"
              [ngClass]="
            
              registerForm.invalid
                ? ' bg-gray-400 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow'
                : 'bg-green-600 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow '
              "
              >
                Crear Cuenta
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
