<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
          <div class="rounded-t mb-0 px-6 py-6">
            <div class="text-center mb-3">
              <h1 class="text-blueGray-500 font-bold">Olvidó Contraseña ?</h1>
            </div>
            
            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-blueGray-400 text-center mb-3 font-bold">
              <small>introduzca el correo Registrado (obligatorio) </small>
            </div>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
              <div class="relative w-full mb-3">
               
                <input

                    formControlName="email"
                    class="form-control"
                    type="email"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Introduzca su Correo"
                />
              </div>
             
          
  
            
  
              <div class="text-center mt-6">
                <button
                  [disabled]="!forgotForm.valid"
                  type="submit"
                  [ngClass]="
                
                  forgotForm.invalid
                    ? ' bg-gray-400 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow'
                    : 'bg-green-600 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow '
                  "

                >
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  