<div
  class="relative bg-slate-300 flex flex-col min-w-0 break-words w-full mb-6  rounded-lg bg-blueGray-100 border-0"
>

  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form (ngSubmit)="onRegister()" #myForm="ngForm" (keydown)="EnterSubmit($event)">

      <!-- Toggle A -->
      <div class="sticky top-1 z-10 bg-yellow-500 ">
        <div class=" absolute right-20 mr-4 ">
          <label for="toogleButton" class="flex bg-rose-500 text-white rounded items-center cursor-pointer py-1 px-1 border-blueGray-300">
            <div class="px-2">EDITAR</div>
            <!-- toggle -->
            <div class="relative">
              <input id="toogleButton" type="checkbox" class="hidden" (click)="fToggleEdit()" />
              <!-- path -->
              <div
                class="toggle-path bg-red-600 w-9 h-5 rounded-full shadow-inner"
              ></div>
              <!-- crcle -->
              <div
                class="toggle-circle absolute w-3.5 h-3.5 bg-white rounded-full shadow inset-y-0 left-0"
              ></div>
            </div>
          </label>
        </div>
        <div class="rounded-t mb-0  absolute right-1  ">
          <button
            class="bg-blue-600 text-white  font-bold uppercase  text-xs py-2 px-2  rounded  "
            type="submit"
          >
            guardar
          </button>
          
        </div>
      </div>

      <hr class="mt-20 border-b-1 border-blueGray-300" />

      <h6 class="text-blueGray-400 text-sm mt-3 mb-2 font-bold uppercase">
        Informacion personal
      </h6>

      <hr class="mt-2 border-b-1 border-blueGray-300 mb-6" />

      <div class="flex flex-wrap">
        <div class="w-full lg:w-4/12 px-4">
          <div class="relative w-full mb-3">
            <div class="">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              nombre
            </label>
            <input
                id="name"
                name="name"
                type="text"
                #name
                [(ngModel)]="member.name"
                placeholder="Nombre Completo"
                [disabled]="toogleEdit"

                [ngClass]="
          
                toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  lg:w-9/12 w-full	'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150 lg:w-9/12 w-full'
                "
              />
              

              <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Profesion
            </label>
            </div>
            
            <input
            id="profession"
            name="profession"
            type="text"
            placeholder="Profesion"
            [disabled]="toogleEdit"

            [(ngModel)]="member.profession"
            [ngClass]="
          
            toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  lg:w-9/12 w-full	'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150 lg:w-9/12 w-full'
                "/>

            
            <div class="my-6 center">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <img [src]="url" *ngIf="url" class=" .image_placeholder h-40 w-25 rounded-lg" >
            
              <p *ngIf="toogleEdit">
                <input type="file" (change)="showPreview($event)">
              </p>
            </div>

            <label
              class="block uppercase text-blueGray-600 text-xs font-bold my-3 "
              htmlFor="grid-password"
            >
              Status
            </label>

            <select 
              id="memberStatus"
              name="menberStatus"
              type="text"
              [(ngModel)]="member.status"
              [disabled]="toogleEdit"

              [ngClass]="
          
                toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 text-blueGray-600
                  bg-white rounded text-sm shadow  lg:w-9/12 w-full	'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150 lg:w-9/12 w-full'
                ">

          
            <option selected >Activo</option>
            <option>Inactivo</option>
            <option>N. Creyente</option>
            <option>Visitante</option>
            
          </select>
              
              
            
          
            
          </div>
        </div>


     

        <div class="w-full lg:w-8/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Cedula
            </label>
            <input
              id="nationalId"
              name="nationalId"
              [(ngModel)]="member.nationalId"
              type="text"
              required
              [disabled]="toogleEdit"

              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-4 mb-2'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-4 mb-2'
                "/>
            

            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Direccion
            </label>
            <input
              id="adress"
              name="adress"
              [(ngModel)]="member.adress"
              [disabled]="toogleEdit"
              #adress
              type="text"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-4 mb-2'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-4 mb-2'
                "/>

            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Correo
            </label>
            <input
              id="mail"
              name="mail"
              [(ngModel)]="member.mail"
              [disabled]="toogleEdit"

              #mail
              type="email"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-4 mb-2'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-4 mb-2'
                "/>

            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Telefono
            </label>
            <input
              id="phone"
              name="phone"
              [(ngModel)]="member.phoneNumber"
              #phone
              type="text"
              [disabled]="toogleEdit"

              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-4 mb-2'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-4 mb-2'
                "/>

            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Edad
            </label>
            <input
              id="age"
              name="age"
              [(ngModel)]="member.age"
              #age
              type="number"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-4 mb-2'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-4 mb-2'
                "/>
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Nacionalidad
            </label>
            <input
              id="nationality"
              name="nationality"
              [(ngModel)]="member.nationality"
              #nationality
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-4 mb-2'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-4 mb-2'
                "/>
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Estado civil
            </label>
            <select
              id="civilStatus"
              name="civilStatus"
              [(ngModel)]="member.civilStatus"
              type="text"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-0 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-6 mb-2'
                  : 'border-0 px-3 py-0 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-6 mb-2'
                ">

              <option>soltero(a)</option>
              <option>casado(a)</option>
              <option>viudo(a)</option>
              <option>concubinato</option>
            </select>

            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            sexo
            </label>
            <select
              id="gender"
              name="gender"
              type="text"
              [(ngModel)]="member.gender"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-0 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-6 mb-2'
                  : 'border-0 px-3 py-0 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-6 mb-2'
                ">

              <option>masculino</option>
              <option>femenino</option>
            </select>

            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            F. Nacimiento
            </label>
            <input
              id="born"
              name="born"
              [(ngModel)]="member.born"
              type="date"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full h-4 mb-2'
                  : 'border-0 px-3 py-3 mb-2 placeholder-blueGray-300 text-blueGray-600
                   rounded text-sm shadow focus:outline-none focus:ring ring-green-500 bg-green-200 ease-linear
                   transition-all duration-150  w-full h-4 mb-2'
                ">
            
          </div>
        </div>
       
       
      </div>

     

      <hr class="mt-8 border-b-1 border-blueGray-300" />

      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        INFORMACION ECLESIASTICA
      </h6>
      <hr class=" border-b-1 border-blueGray-300 mb-8"  />

      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Sede
            </label>

            <select
            id="sede"
            name="sede"
            type="text"
            [(ngModel)]="member.sedeId"
            [disabled]="toogleEdit"
            (change)="sedeChange($event)"
            [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                ">
           


              <option *ngFor="let opt of sedes"
                [value]="opt.id">{{opt.nombre}}
              </option>
          
            </select>
            
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Red
            </label>

            <select
            id="netName"
            name="netName"
            [(ngModel)]="member.netId"
            type="text"
            
            [disabled]="toogleEdit"
            (change)="netChange($event)"
            [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                ">


              <option *ngFor="let opt of selectedNets" 
              [value]="opt.id">
                {{opt.red}}
              </option>
          
            </select> 
          
           
            
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Hogar
            </label>

            <select
            id="homeName"
            name="homeName"
            [(ngModel)]="member.homeId"
            type="text"
            [disabled]="toogleEdit"
            [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                ">

                <option *ngFor="let opt of selectedHomes" 
                [value]="opt.id">
                  {{opt.hogar}}
                </option>
            </select>
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">

          <div class="relative w-full mb-3">
            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Ocupacion</label>
            <select 
              id="occupation"
              name="occupation"
              [(ngModel)]="member.occupation"
              type="text"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                ">
  
            
                <option>ANCIANO</option>
                <option>ANFITRIÓN</option>
                <option>ASISTENTE</option>
                <option>COPASTOR</option>
                <option>DISCIPULO</option>
                <option>LIDER</option>
                <option>NUEVO</option>
                <option>PASTOR</option>
                <option>SERVIDOR</option>
                <option>VISITANTE</option>
                <option>OTROS</option>
  
               
            </select>
            
          </div>
  
          
        </div>

        <div class="w-full lg:w-6/12 px-4">

          <div class="relative w-full mb-3">
            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">F. Nacimiento Espiritual</label>
        
  
  
            <input 
              id="spiritualBirthDate"
              placeholder="Select date"
              name="spiritualBirthDate"
              type="date"
              value="2018-07-22"
              min="1940-01-01"
              max="2030-12-31"
              [(ngModel)]="member.spiritualBirthDate"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                "/>
  
            
            
          </div>
        </div>
  
        <div class="w-full lg:w-6/12 px-4">
  
          <div class="relative w-full mb-3">
            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Primera Iglesia</label>
            <input
              id="churchBorn"
              name="churchBorn"
              [(ngModel)]="member.churchBorn"
              #churchBorn
              type="text"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                "/>
  
            
            
          </div>
        </div>
  
       

        <div class="w-full lg:w-4/12 px-4">

          <div class="relative w-full mb-3">
            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Es bautizado ?</label>
            <select
              id="baptized"
              name="baptized"
              type="text"
              [(ngModel)]="member.baptized"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                ">
  
            
              <option>Si</option>
              <option>No</option>
  
            </select>
            
          </div>
        </div>
  
        <div class="w-full lg:w-4/12 px-4">
  
  
          <div class="relative w-full mb-3">
            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Fecha de Bautizmo</label>
            <input
              id="christeningDate"
              name="christeningDate"
              type="date"
              value=""
              min="1940-01-01"
              max="2030-12-31"
              [(ngModel)]="member.christeningDate"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                "/>
  
  
          
            
          </div>
        </div>
  
        <div class="w-full lg:w-4/12 px-4">
  
          <div class="relative w-full mb-3">
            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Iglesia de Bautiso</label>
            <input
              id="churchWaterChristening"
              name="churchWaterChristening"
              #churchWaterChristening
              type="text"
              [(ngModel)]="member.churchWaterChristening"
              [disabled]="toogleEdit"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-white rounded text-sm shadow  w-full'
                  : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                  bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                   ease-linear transition-all duration-150'
                "/>
  
  
            
            
          </div>
  
          
        </div>

          




      </div>
      


      
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            areas de servicio en el PASADO
            </label>
            <textarea
              id="pastServiceArea"
              name="pastServiceArea"
              #pastServiceArea
              type="text"
              [(ngModel)]="member.pastServiceArea"

              [disabled]="toogleEdit"
              rows="4"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow  w-full'
                  : 'bg-green-200 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150'
                ">
              
            
                  
                </textarea
            >
          </div>
        </div>

        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            areas de servicio en el PRESENTE
            </label>
            <textarea
              id="currentServiceArea"
              name="currentServiceArea"
              #currentServiceArea
              type="text"
              [(ngModel)]="member.currentServiceArea"
              [disabled]="toogleEdit"
              rows="4"
              [ngClass]="
          
              toogleEdit
                  ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow  w-full'
                  : 'bg-green-200 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150'
                ">
             
          
                 
                </textarea
            >
          </div>
        </div>
        

      </div>
      <hr class="mt-8 border-b-1 border-blueGray-300" />

        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
          Estudios
        </h6>
        <hr class=" border-b-1 border-blueGray-300 mb-8"  />
      
        <div class="flex flex-wrap">
          <div class="w-full lg:w-4/12 px-4">

            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Discipulado Aprobado ?</label>
 
              <select
                id="approvedDiscipleship"
                name="approvedDiscipleship"
                type="number"
                [(ngModel)]="member.approvedDiscipleship"
                [disabled]="toogleEdit"
                [ngClass]="
            
                toogleEdit
                    ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                    bg-white rounded text-sm shadow  w-full'
                    : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                    bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                    ease-linear transition-all duration-150'
                  ">
    
              
                  <option>Si</option>
                  <option>No</option>
      
              </select>
            </div>
  
          </div>
  
          <div class="w-full lg:w-4/12 px-4">

            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Fecha de Aprobacion</label>
              <input
                id="dicipulateApprovalDate"
                name="dicipulateApprovalDate"
                type="date"
                value=""
                min="1940-01-01"
                max="2030-12-31"
                [(ngModel)]="member.dicipulateApprovalDate"
                [disabled]="toogleEdit"
                [ngClass]="
            
                toogleEdit
                    ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                    bg-white rounded text-sm shadow  w-full'
                    : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                    bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                    ease-linear transition-all duration-150'
                  "> 
              
            </div>

          
          </div>

          <div class="w-full lg:w-4/12 px-4">

            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">Maestro</label>
              <input
                id="discipleshipTeacher"
                name="discipleshipTeacher"
                #discipleshipTeacher
                type="text"
                [(ngModel)]="member.discipleshipTeacher"
                [disabled]="toogleEdit"
                [ngClass]="
            
                toogleEdit
                    ? 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                    bg-white rounded text-sm shadow  w-full'
                    : 'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600
                    bg-green-200 rounded text-sm shadow focus:outline-none focus:ring w-full
                    ease-linear transition-all duration-150'
                  ">

            </div>
          </div>
        </div>
    </form>
  </div>
</div>
